In [21]:
import pandas as pd

In [22]:
delays_df = pd.read_csv('Data/flight_delays.csv')
delays_df.shape

/var/folders/8v/r39d27jd3zj3d5dj9x2fwf6m0000gn/T/ipykernel_4283/1969191894.py:1: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  delays_df = pd.read_csv('Data/flight_delays.csv')

(5819079, 31)

In [23]:
x = delays_df.loc[:,['AIRLINE','TAIL_NUMBER']]
x.head()

  AIRLINE TAIL_NUMBER
0      AS      N407AS
1      AA      N3KUAA
2      US      N171US
3      AA      N3HYAA
4      AS      N527AS

In [24]:
y = delays_df.loc[:,['DESTINATION_AIRPORT']]
y.head()

  DESTINATION_AIRPORT
0                 SEA
1                 PBI
2                 CLT
3                 MIA
4                 ANC

In [25]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
                                                    x, 
                                                    y, 
                                                    test_size=0.3, 
                                                    random_state=42
                                                   )

In [26]:
X_train.shape

(4073355, 2)

In [27]:
X_test.shape

(1745724, 2)

In [28]:
X_train.head()

        AIRLINE TAIL_NUMBER
4985624      WN      N454WN
2755766      WN      N8651A
2844230      WN      N791SW
3978291      AS      N413AS
4693096      AA      N3GFAA

In [29]:
y_train.shape

(4073355, 1)

In [30]:
y_train.head()

        DESTINATION_AIRPORT
4985624                 DAL
2755766                 SLC
2844230                 SAN
3978291                 DFW
4693096               13204